.careers{
    background-color: black;
    color: white;
    display: flex;
    padding: 100px 120px;
    border-top: solid 1px #b4b4b4;
}

.careersName {
    font-size: 14px;
    letter-spacing: 0.16em;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.careersLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48vw;
}

.careersHeader{
    font-size: 24px;
    padding-bottom: 60px;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    width: 50%;
}

.careersRead{
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    &:hover{
        border-color: white;
        background-color: white;
        color: black;
        transition: ease 0.5s;
    }
}

.careersRight{
    display: flex;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 40px;
    width: 24vw;
    padding-bottom: 20px;
    margin-left: auto;
}

#careersJobsEE{

}

#careersJobsDS{
    // display: none;
}

#careersJobsAI{
    // display: none;
}

#careersJobsDL{
    // display: none;
}

.careersJobsName{
    font-size: 18px;
    padding-bottom: 60px;
    line-height: 1.8em;
    letter-spacing: 0.08em;
}

.careersJobsLoc{
    font-size: 14px;
    color: #b4b4b4;
    letter-spacing: 0.08em;
    padding-bottom: 20px;
}

.careersJobsContent{
    line-height: 1.8em;
    letter-spacing: 0.08em;
    padding-bottom: 30px;
}

button {
    font-size: 16px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: white;
    &:hover{
        border-color: white;
        background-color: white;
        color: black;
        transition: ease 0.5s;
    }
    margin-bottom: 40px;
}

.careersJobsSlider{
    padding-top: 40px;
    font-size: 8px;
    text-align: center;
    color: #707070;
}

.bullet-bar{
    background: #707070 !important;
    bottom: 20vh !important;
    opacity: 1 !important;
}

.test-bullet{
    background-color: white !important;
    opacity: 1 !important;
}

@media (max-width: 700px) {
    .careers{
        width: fit-content;
    }
    .careersLeft{
        width: fit-content;
    }
    .careersRight{
        width: 80vw;
    }
  }