.footer{
    display: flex;
    padding: 100px 120px;
}

.aboutHeader{
    display: flex;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.aboutUs{
    display: flex;
    flex-direction: column;
}

.aboutRow{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 16px;
    
}   

.aboutLink{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color: black;
        letter-spacing: 0.04em;
        padding-bottom: 40px;
    }
}

.aboutInfo{
    p{
        letter-spacing: 0.04em;
        padding-bottom: 40px;
    }
}

.aboutSub{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
}

.aboutSubHeader{
    text-transform: uppercase;
    padding-bottom: 40px;
    font-size: 18px;
    
}

.aboutSubContent{
    padding-bottom: 40px;

}

label{
    input{
        margin-top: 30px;
        padding: 0 10px;
        border-radius: 6px;
        height: 2vw;
        width: 90%;
    }
}
