.industry{
    background-color: black;
    color: white;
    display: flex;
    padding: 80px 120px;
}

.industryLeft{
    
}

.industryName{
    font-size: 14px;
    letter-spacing: 0.16em;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.industryHeader{
    font-size: 24px;
    padding-bottom: 60px;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    width: 20%;
}

.industryContent{
    width: 46%;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    padding-bottom: 30px;
}

.industryRight{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 100px;
    width: 130%;
}

.industryPartner{
    height: 100%;
    align-items: center;
    justify-content: end;
    text-align: center;
    display: flex;
    flex-direction: column;
   img {
    padding-bottom: 20px;
    width: 70%;
   }
}
