.services{
    display: flex;
    padding: 100px 120px;
    align-items: center;
}

.services-left{

}

.servicesName{
    font-size: 14px;
    letter-spacing: 0.16em;
    padding-top: 100px;
    padding-bottom: 40px;
}

.servicesHeader{
    font-size: 24px;
    padding-bottom: 60px;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    width: 56%;
}

.servicesDriving{

}

.servicesDrivingLeft{

}

.servicesDrivingHeader{
    font-size: 40px;
    padding-bottom: 60px;
    line-height: 1.8em;
    letter-spacing: 0.08em;
    width: 56%;
}

.servicesDrivingContent{
    width: 68%;
    line-height: 1.8em;
    letter-spacing: 0.08em;
}

.servicesDrivingRead{

}

.servicesDrivingRight{

}
